###### OJHB ########## 18/07/06 ################
#                                              #
# THIS IS THE TOP LEVEL GLIMMER CONFIG FILE.   #
# IT CONTAINS THE GENERAL SETUP, AND DETAILS   #
# OF THE CONFIG-FILENAMES FOR EACH INSTANCE.   #
#                                              #
################################################


[GLINT]
n_instance : 1



[GLINT instance]    #greenland instance-specific config file.
name : gland20.config
 tag : LIS
